*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 56, 56);
    padding: 1rem;
}

header h1 {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    opacity: .8;
}

header h1:hover {
    opacity: 1;
}

.difcolor {
    color: turquoise;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    opacity: 1;
}

nav ul a{
    text-decoration: none;
}

nav ul li:hover{
    opacity: 1;
}

#selected {
    opacity: 1;
    background-color: rgb(80, 78, 78);
}

main {
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
    margin-bottom: 5%;
}

main h2 {
    text-align: center;
}

main p {
    padding: 1rem 1rem;
}

footer{
    background-color: rgb(58, 56, 56);
    padding: 1rem;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 20%;
    color: white;
}

footer h2 {
    color: white;
    padding: 1rem 0rem;
    font-size: 1.8rem;
}

.about p {
padding: 1rem 0rem;
}

.social-media {
    background-color: rgb(58, 56, 56) ;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0rem 10rem;
}

.social-media i {
    color: white;
    padding: 1rem 1rem;
    margin: 0rem .3rem;
    margin-bottom: 3rem;
    opacity: .8;
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 10px;
    
}

i:hover{
    opacity: 1;
}

.menu ul{
    list-style: none;
    color: white;
    font-size: 1.4rem;
}

.menu ul li {
    color: white;
    text-decoration: none;
    padding: .6rem 0rem;
    opacity: .8;
}

.menu ul a{
    text-decoration: none;
}

.menu ul li:hover{
   opacity: 1;
}

.contact-form {
    width: 20%;
}

.contact-form h2 {
    color: white;
    text-align: center;
}

.underline {
    background-color: rgb(0, 0, 0);
    padding: .1rem;
    margin: .5rem 3rem;
}

.underlinetwo {
    background-color: white;
    padding: .1rem;
    margin: .5rem 3rem;;
}



.contactus{
    max-width: 600px;
    overflow: hidden;
}

.contacttext{
    display: block;
    width: 100%;
    margin: 10px 0;
    background:white;
    padding: 20px 40px;
    border:0;
}

.contacttext:hover{
    box-shadow: 0 0 8px 0 rgb(153, 153, 153);
}

.contactbtn{
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    opacity: .8;
    float: right;
}

.contactbtn:hover{
    color:rgb(58, 56, 56);
    background: rgb(255, 255, 255);
    opacity: 1;
}

.animation img{
    width: 50px;
    animation: dickbutt 3s linear infinite;
    position: relative;
    bottom: -500px;
}

.animation{
    width: 100%;
    height: 140%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;;
    bottom: 50px;
    overflow: hidden;

}

.animation img:nth-child(1){
    width: 55px;
    animation-delay: 2s;
}
.animation img:nth-child(2){
    width: 35px;
    animation-delay: 1s;
}
.animation img:nth-child(3){
    width: 40px;
    animation-delay: 3s;
}
.animation img:nth-child(4){
    width: 75px;
    animation-delay: 2.5s;
}
.animation img:nth-child(5){
    width: 25px;
    animation-delay: 4s;
}
.animation img:nth-child(6){
    width: 45px;
    animation-delay: 1.5s;
}
.animation img:nth-child(7){
    width: 40px;
    animation-delay: 3.5s;
}
.animation img:nth-child(8){
    width: 30px;
    animation-delay: 0.5s;
}
.animation img:nth-child(9){
    width: 50px;
    animation-delay: 2s;
}
.animation img:nth-child(10){
    width: 90px;
    animation-delay: 1s;
}

.bodyTwo {
    height: 60vh;
}
 

@media screen and (max-width: 892px) {
    main{
        display: block;
    }

    .menu h2{
        font-size: 1.5rem;
        padding-left: 3rem;
}

    .menu ul {
        padding-left: 3rem;
        font-size: 1rem;
    }


}

@keyframes dickbutt{
    0%{
        transform: translateY(0vh);
        opacity: .0;
    }
    50%{
        opacity: .5;
    }
    70%{
        opacity: .75;
    }
    100%{
        transform: translateY(-115vh);
        opacity: 0;
    }
}

}